form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;

  input {
    width: 100%;
    padding: 8px 10px 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    outline: none;
    background: #fff;
    border: 1px solid #e4e4e7;
    border-radius: 0.3rem;
    direction: ltr;

    &::placeholder {
      color: #999;
      font-size: 16px;
    }

    &:focus,
    &:focus-visible,
    &:active {
      border: 1px solid #252525;
    }
  }

  button {
    width: 100%;
    height: 42px;
    background: #017fef25;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #017fef;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.3rem;
    user-select: none;
    outline: none;
    border: 1px solid #017fef40;
    cursor: pointer;

    &:hover {
      background: #017fef35;
    }

    .btnLoader {
      margin-left: 2px;
      width: 24px;
      height: 24px;
      border: 2px solid #017fef;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      animation: rotation 1s linear infinite;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
